// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 0px;
  }
}

.small-padding {
  .cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    width: 60px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;

    .el-tag {
      margin-right: 0px;
    }
  }
}

// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// fix date-picker ui bug in filter-item
.el-range-editor.el-input__inner {
  display: inline-flex !important;
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}

.el-menu--collapse
  > div
  > .el-submenu
  > .el-submenu__title
  .el-submenu__icon-arrow {
  display: none;
}

.el-dropdown .el-dropdown-link{
  color: var(--el-color-primary) !important;
}

  
.web-table.el-table {
  --el-table-border-color: #3986FF;
  --el-table-header-text-color: var(--hz-btn-color);
  background-color: rgb(0, 0, 0, 0);
  th,
  tr,
  td {
    // background-color: var(--hz-btn-background);
    user-select: none;
    font-size: 16px;
  }
  thead {
    th {
        color: #e4ecff;
        font-family: Alibaba PuHuiTi 3;
        font-weight: 600 !important;
        font-size: 18px !important;
        line-height: 22.4px;
        text-align: center;
        letter-spacing: 0%;
        background: #1a60ea !important;
        // width: 1808;
        height: 30;
        border-width: 1px;
        // border: 1px solid;
        // border-image-source: linear-gradient(180deg, #0D5CF7 0%, #5B93FF 100%);
        border: 1px solid #5B93FF !important;
        border-image-source: #5B93FF;
      }
    // tr {
    //   color: #fff !important;
    //   background: #1A60EA !important;
    // }
    // .cell {
    //   justify-content: center !important;
    //   text-align: center !important;
    //   background: #0b2a71 !important;
    // }
  }
  tbody {
    // tr:hover>td {
    //   background: #182549 !important;
    // }
    tr>td {
      padding: 0px;
      position: relative;
      border: 1px solid #3986FF;
      background: #052a7d;
      // background: #182549 ;
      .cell {
        padding: 20px 15px;
        color: #fff;
        text-align: center;
        font-size: 18px;
      }
    }
  }
  .el-table__row:hover > .el-table__cell {
  background: #182549 !important;
}

.hover-fixed-row> .el-table__cell {
  background: #182549 !important;
}
  .table-item-con {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    span:nth-child(3) {
      color: #FFD36B;
      text-align: center;
      font-family: "Alibaba PuHuiTi 3.0";
      font-size: 16px;
    }
  }
}
.harder-border.el-table{
  thead {
    th {
        color: #e4ecff;
        font-family: Alibaba PuHuiTi 3;
        font-weight: 600 !important;
        font-size: 18px !important;
        line-height: 22.4px;
        text-align: center;
        letter-spacing: 0%;
        background: #1a60ea !important;
        // width: 1808;
        height: 30;
        border-width: 1px;
        border: 1px solid #5B93FF !important;
        border-image-source: #5B93FF;
    }
    // tr {
    //   color: #fff !important;
    //   background: #1A60EA !important;
    // }
    // .cell {
    //   justify-content: center !important;
    //   text-align: center !important;
    //   background: #0b2a71 !important;
    // }
  }
}